.FeedBg {
    width: 65%;
    height: 100vh;
    overflow: hidden;
    background-color: #F6F6F2;
    display: flex;
    flex-direction: column;

    .UserFeed {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-top: 90px;
        
        .FollowingFeed {
            width: 50%;
            height: 84%;
            overflow: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 0.9rem;

            &:first-child {
                align-items: flex-start;
            }

            h1 {
                font-size: 1.3rem;
                margin-left: 0.5rem;
            }

            &::-webkit-scrollbar {
                width: 8px;
                background-color: #F6F6F2;
                
                border-radius: 15px;
            }

            &::-webkit-scrollbar-thumb {   
                background-color: #C4C4C4;
                border-radius: 15px;
            }
        }
    
        .PopularFeed {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }

}