.ImageUpload {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 65%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F2;
    border-top: 1px solid #c4c4c4;

    .Container {
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .InputStuff {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .inputfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            
            .inputfile + label {
                width: 13.28125vw;
                height: 65%;
                font-size: 1vw;
                /* 20px */
                font-weight: 700;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                outline: none;
                padding: 0.625rem 1.25rem;
                /* 10px 20px */
                color: #f1e5e6;
                background-color:#E45257;
                border-radius: 10px;
                transition: .5s all ease;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
            
            .no-js .inputfile + label {
                display: none;
            }
            
            .inputfile:focus + label,
            .inputfile.has-focus + label {
                outline: 1px dotted #000;
                outline: -webkit-focus-ring-color auto 5px;
            }
            
            .inputfile:focus + label,
            .inputfile.has-focus + label,
            .inputfile + label:hover {
                background-color: #722040;
            }
            
            .inputfile + label svg {
                width: 1.25vw;
                height: auto;
                vertical-align: middle;
                fill: currentColor;
                margin-top: -0.25em;
                /* 4px */
                margin-right: 0.25em;
                /* 4px */
            }
        }

        .CaptionInput {
            width: 12.28125vw;
            height: 55%;
            border: none;
            outline: none;
            background: none;
            border: 1px solid #c4c4c4;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            transition: .5s ease all;

            &:focus {
                border: 1.5px solid #E45257;
            }

            &::placeholder {
                font-size: 12px;
                color: #c4c4c4;
            }

            &::-ms-value {
                font-size: 12px;
                font-weight: 500;
                color: #000000;
            }
        }


        progress[value] {
            appearance: none;
        
            width: 25%;
            height: 25%;
        }

        progress[value]::-webkit-progress-bar {
            background-color: #eee;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        }          

        progress[value]::-webkit-progress-value {
            background-image:
                 -webkit-linear-gradient(-45deg, 
                                         transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                         rgba(0,0, 0, .1) 66%, transparent 66%),
                 -webkit-linear-gradient(top, 
                                         rgba(255, 255, 255, .25), 
                                         rgba(0, 0, 0, .25)),
                 -webkit-linear-gradient(left,#E45257, #E45257);
          
              border-radius: 10px; 
              background-size: 35px 20px, 100% 100%, 100% 100%;
              animation: animate-stripes 5s linear infinite;
        }

        @-webkit-keyframes animate-stripes {
            100% { background-position: -100px 0px; }
         }
         
         @keyframes animate-stripes {
            100% { background-position: -100px 0px; }
         }

        button {
            width: 8.28125vw;
            height: 65%;
            font-size: 1vw;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            outline: none;
            padding: 0.625rem 1.25rem;
            /* 10px 20px */
            color: #f1e5e6;
            background-color:#E45257;
            border-radius: 10px;
            transition: .5s all ease;
            border: none;
            outline: none;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            &:hover {
                background-color: #722040;
            }
        }

         
    }

}