.Post {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6.704654895666132vh 0;

    // &:first-child {
    //     margin-top: 1rem;
    // }

    .Post__Image {
        max-width: 450px;
        width: 100%;
        height: auto;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-bottom: 10px;
    }

    .Post__Footer {
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Post__Avatar {
            display: flex;
            justify-content: center;
            align-items: center;

            .Post__ProfileImg {
                width: 1.8229166666666667vw;
                height: auto;
                border-radius: 50%;
                margin-right: 10px;

                img {
                    width: 100%;
                    height: 100%;   
                    border-radius: 50%;         
                }
            }


            h3 {
                font-size: 0.8333333333333334vw;
                font-weight: 400;
            }
        }

        .Post__Buttons {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .Post__Button {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 1rem;
                
                i {
                    font-size: 1.0416666666666667vw;
                    color: #c4c4c4;
                    margin-right: 0.7rem;
                }

                p {
                    font-size: 0.625vw;
                    color: #c4c4c4;
                    font-weight: 700;
                }
            }

        }
    }
}