.Stories {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 65%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F2;
    border-bottom: 1px solid #c4c4c4;
}